.myTab {
    .closeAll {
        top: 8px;
    }

    .tabNavWrap {
        ul {
            overflow: hidden;
            width: 10000em;

            li.nav {
                float: left;
            }
        }
    }

    .tbContents {
        overflow: hidden;
        padding-bottom: 30px;
        height: 100%;
        // height: calc(100% - 80px);
    }
}

.main_page {
    overflow: hidden;

    .main_top {
        &.hide {
            .topContent {
                filter:alpha(opacity=0);

                .logo {
                    height: 0;
                }
            }
        }
    }

    .main_contain {
        height: 100%;
        padding-bottom: 50px;

        &.hideLeft {
            .main_right {
                margin-left: 0;
                width: 100%;
            }
        }

        .main_left {
            overflow: auto;
            float: left;
        }

        .main_right {
            margin-left: 175px;
            height: 100%;

            #insTab {
                height: 100%;
            }
        }
    }
}