@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial,"Microsoft YaHei", 微软雅黑; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all; }

div,
li,
ul {
  box-sizing: border-box; }

li,
ul {
  list-style: none; }

body,
html {
  height: 100%; }

a {
  cursor: pointer;
  color: #06527d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #ff0000; }

h1,
h2,
h3,
h4,
h5 {
  font-size: 12px; }

body {
  overflow-x: hidden;
  font-size: 12px; }

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .flexBox > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.nineLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .nineLayout li {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    padding-top: 33.33%; }

.button {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer; }
