@import "./font/iconfont.css";

* {
    margin: 0;
    padding: 0;
    // font-family: Arial,"Microsoft YaHei", 微软雅黑,"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", sans-serif;
    font-family: Arial,"Microsoft YaHei", 微软雅黑;
    // user-select: none;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.ellipsis {
    @include ellipsis();
}

div,
li,
ul {
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
}

body,
html {
    height: 100%;
}

a {
    cursor: pointer;
    color: #06527d;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #ff0000;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 12px;
}

body {
    // overflow: hidden;
    overflow-x: hidden;
    font-size: 12px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.flexBox {
    display: flex;
    flex: 1;

    > li {
        flex: 1;
    }
}
// 九宫格

.nineLayout {
    display: flex;
    flex-wrap: wrap;

    li {
        position: relative;
        flex: 0 0 33.33%;
        padding-top: 33.33%;
    }
}

.button {
    display: block;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
// tab标签

.myTab {
    position: relative;
    height: 100%;

    .closeAll {
        position: absolute;
        right: 5px;
        top: 3px;
        cursor: pointer;
        color: #528311;
        font-size: 12px;

        &:hover::before {
            color: #f00;
        }
    }

    .tabNavWrap {
        position: relative;
        top: 1px;
        overflow: hidden;
        margin-right: 45px;
        height: 26px;

        .close {
            color: #666;

            &:hover {
                color: #f00;
            }
        }

        ul {
            position: absolute;
            left: 0;
            right: 0;
            width: 10000em;
            transition: all 1s;

            li.nav {
                display: flex;
                float: left;
                margin: 0 5px 0 0;
                padding: 5px;
                border-radius: 5px 5px 0 0;
                line-height: 15px;
                cursor: pointer;
                color: #528311;
                word-break: keep-all;
                user-select: none;

                &.active {
                    border: 1px solid #ccc;
                    border-bottom: none;
                    background: #fff;
                }

                .close {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 2px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .tbContents {
        display: flex;
        height: calc(100% - 26px);
        min-height: 50px;
        border: 1px solid #ccc;

        .itemContent {
            display: none;
            width: 100%;
            height: 100%;
            border: none;

            &.active {
                display: block;
            }
        }
    }
}

.main_page {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    // transition: padding 0.25s linear;
    &.hide_main_bottom {
        padding-bottom: 0;

        .main_bottom {
            height: 0;
        }
    }

    .main_top {
        position: relative;
        width: 100%;
        background: url("../images/main_09.gif") left 9px repeat-x;
        // transition: all 0.25s linear;
        &.hide {
            .topBar {
                position: relative;
            }

            .topContent {
                margin-top: -56px;
                opacity: 0;
            }
        }

        .topBar {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 9px;
            background: url("../images/main_04.gif") left 0 repeat-x;
        }
        // &::before {
        //     content: ' ';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     width: 100%;
        //     height: 9px;
        //     background: url("../images/main_04.gif") left 0 repeat-x;
        // }
        .topContent {
            position: relative;
            overflow: hidden;
            height: 56px;
            transition: all 0.25s linear;

            .logo {
                position: absolute;
                left: 0;
                top: 7px;
                width: 180px;
                height: 49px;
                background: url("/Static/Images/logo.png") no-repeat;
                background-size: 180px 49px;
            }

            .main_menu,
            .top_menu {
                overflow: hidden;
                margin: 35px 0 0 205px;

                li {
                    float: left;
                    margin-right: 25px;
                    padding-left: 18px;
                    padding-top: 2px;
                    background-repeat: no-repeat;
                    background-position: left center;

                    &.active {
                        a {
                            color: #f00;
                        }
                    }
                }
            }

            .top_menu {
                position: absolute;
                margin: 0;
                right: 10px;
                top: 12px;

                li {
                    margin: 0 0 0 20px;

                    .name {
                        color: #528311;

                        strong {
                            color: #f00;
                        }
                    }
                }
            }
        }

        .slideTop {
            position: absolute;
            right: 5px;
            top: 0;
            background: #fff;

            li {
                width: 36px;
                height: 9px;
                cursor: pointer;
                user-select: none;

                &.open {
                    display: none;
                    background: url("../images/topdown.png") no-repeat;
                }

                &.close {
                    background: url("../images/topup.png") no-repeat;
                }
            }
        }
    }

    .main_contain {
        display: flex;
        flex: 1;
        overflow: hidden;

        &.hideLeft {
            .main_left {
                margin-left: -175px;
            }
        }

        .main_left {
            position: relative;
            display: flex;
            height: 100%;
            width: 175px;
            border: solid 1px #9ad452;
            transition: all 0.25s ease-in;

            .toggleLeft {
                position: absolute;
                display: block;
                width: 14px;
                height: 14px;
                background: url("../images/right.gif") no-repeat;
                cursor: pointer;
                display: none;

                &.toShow {
                    right: -15px;
                    top: 50%;
                    transform: translate(0,-50%);
                    z-index: 1;

                    &.active {
                        display: block;
                    }
                }
            }

            .nav__box {
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow: auto;
                background: url("../images/main_21.gif") repeat-x;

                h4 {
                    position: relative;
                    height: 26px;
                    line-height: 26px;
                    background: url("../images/left_title.png") 25px center no-repeat;

                    span.toHide {
                        left: 5px;
                        top: 6px;
                        background: url("../images/left.gif") no-repeat;
                        display: block;
                    }
                }

                .nav__ul {
                    overflow: auto;
                    flex: 1;

                    > li {
                        padding-bottom: 2px;

                        &.hide {
                            h5 {
                                .slide {
                                    .down {
                                        display: block;
                                    }

                                    .up {
                                        display: none;
                                    }
                                }
                            }

                            .link_box {
                                height: 0;
                            }
                        }

                        h5 {
                            position: relative;
                            padding: 4px;
                            background: #CFF49E;
                            background: url("../images/TabBg.png") repeat-x;
                            border-top: 1px solid #CFF49E;
                            border-bottom: 1px solid #b5e27d;
                            color: #528311;
                            cursor: pointer;

                            &::before {
                                content: ' ';
                                display: inline-block;
                                margin-right: 5px;
                                width: 14px;
                                height: 14px;
                                background: url("../images/arrow.png") no-repeat;
                            }

                            .slide {
                                b {
                                    position: absolute;
                                    right: 5px;
                                    top: 5px;
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    cursor: pointer;

                                    &.down {
                                        display: none;
                                        background: url("../images/down.png") no-repeat;
                                    }

                                    &.up {
                                        background: url("../images/up.png") no-repeat;
                                    }
                                }
                            }
                        }

                        .link_box {
                            overflow: hidden;
                            transition: all 1s ease-in;

                            .category {
                                overflow: hidden;
                                margin: 5px;
                                border: 1px solid #b5e27d;

                                .categoryTitle {
                                    display: block;
                                    padding-top: 2px;
                                    padding-bottom: 2px;
                                    padding-left: 5px;
                                    background: #cef59e;
                                    font-weight: bold;
                                }

                                .half_link {
                                    &:last-child {
                                        &::before {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            > a,
                            .category > a,
                            .half_link {
                                position: relative;

                                &::before {
                                    content: ' ';
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    width: 200%;
                                    height: 1px;
                                    background: #d2e4b9;
                                }
                            }

                            .category > a,
                            > a {
                                box-sizing: border-box;
                                padding: 4px 5px;
                                display: block;
                                width: 100%;

                                &.active {
                                    color: #f00;
                                }
                            }

                            .half_link {
                                overflow: hidden;
                                box-sizing: border-box;
                                padding: 4px 5px;
                                display: block;
                                width: 100%;

                                a {
                                    float: left;
                                    width: 50%;

                                    &.active {
                                        color: #f00;
                                    }

                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .ztree {
                    overflow: auto;

                    li {
                        // line-height: 18px;
                        span.button.switch {
                            height: 21px;
                        }

                        .node_name {
                            color: #06527d;

                            &:hover {
                                color: #ff0000;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .main_right {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin: 2px 2px 0;
            padding: 2px 2px 1px;
            // width: calc(100% - 175px);
            // width: 100%;
            border-radius: 3px;
            border: 1px solid #ccc;
            border-top: none;
            box-shadow: 0 0 3px #ccc;
            background: url("../images/tab_05.gif") #f3ffe3 left -2px repeat-x;

            #insTab {
                flex: 1;
                height: auto;

                .nav.active {
                    // background: #f3ffe3;
                }

                .tbContents {
                    // border: none;
                }
            }
        }
    }

    .main_bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0 20px;
        height: 28px;
        line-height: 26px;
        border-top: 1px solid #999;
        background: url("../images/main_09.gif") left -1px repeat-x;
        // transition: all 0.25s linear;
        .links {
            margin-left: 50px;
            flex: 1;
        }

        a {
            padding: 0 5px;
        }

        .changePart {
            display: flex;
            padding: 2px;

            * {
                margin-right: 10px;
            }
        }
    }
}

.exhibitionStage {
    position: relative;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #ececec;

    .ruleWrap {
        span {
            position: absolute;
            z-index: 2;
            color: #333;

            &.width {
                left: 50%;
                top: 0;
                transform: translate(-50%,0);
            }

            &.height {
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
                writing-mode: vertical-lr;
            }
        }
    }
    // .stage {
    //     position: relative;
    //     overflow: hidden;
    //     width: 100%;
    //     height: 100%;
    //
    //     .exhibition {
    //         position: absolute;
    //
    //         &:hover {
    //             div {
    //                 opacity: 0.4;
    //             }
    //         }
    //
    //         div {
    //             width: 100%;
    //             height: 100%;
    //             background: #39983d;
    //         }
    //
    //         .delete {
    //             position: absolute;
    //             right: -7px;
    //             top: -7px;
    //             z-index: 1;
    //             width: 15px;
    //             height: 15px;
    //             background: url("../images/close.png") #fff 0 0 no-repeat;
    //             background-size: 15px;
    //             border-radius: 15px;
    //             cursor: pointer;
    //         }
    //     }
    // }
}

.exhibitionForm {
    display: none;

    .inputBox {
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #333;

        span {
            display: block;
            width: 50px;
            text-align: right;
            color: #333;
        }

        .input,
        .select {
            margin-left: 5px;
            padding-left: 10px;
            flex: 1;
            height: 30px;
            line-height: 30px;
            outline: none;
            color: #333;
        }

        .select {
            height: 34px;
            line-height: 34px;

            option {
                color: #333;
            }
        }
    }
}

.exhibitionTabs {
    margin: 50px;
    position: relative;

    .add {
        position: absolute;
        left: -34px;
        top: 27px;
        padding: 2px 5px;
        background: #4791d6;
        border-radius: 5px 0 0 5px;
        color: #fff;
        cursor: pointer;
    }

    .tabs {
        overflow: auto;

        a {
            display: block;
            float: left;
            margin-right: 10px;
            padding: 5px 8px;
            color: #aaa;
            text-align: center;
            border-radius: 5px 5px 0 0;
            border: 1px solid #ccc;
            border-bottom: none;
            background: #fff;
            text-decoration: none;

            &.active {
                color: #333;
            }
        }
    }

    .container {
        overflow: hidden;
        border: 1px solid #ccc;

        .slide {
            float: left;
            overflow: auto;
            background: #f1f1f1;
            display: none;

            &.active {
                display: block;
            }

            .stageWrap {
                position: relative;
                overflow: hidden;
                background: #dcdcdc;

                .ruleWrap {
                    span {
                        position: absolute;
                        z-index: 2;
                        color: #333;
                        user-select: none;

                        &.width {
                            left: 50%;
                            top: 0;
                            transform: translate(-50%,0);
                        }

                        &.height {
                            left: 0;
                            top: 50%;
                            transform: translate(0,-50%);
                            writing-mode: vertical-lr;
                        }
                    }
                }

                .lineWrap {
                    .line {
                        position: absolute;

                        &.w {
                            left: 0;
                            width: 100%;
                            height: 1px;
                            border-top: 1px solid #ccc;
                        }

                        &.h {
                            top: 0;
                            height: 100%;
                            width: 1px;
                            border-right: 1px solid #ccc;
                        }
                    }
                }
            }

            .exhibition {
                position: absolute;

                &:hover {
                    div {
                        opacity: 0.4;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background: #39983d;
                    color: #fff;
                    user-select: none;
                    @include ellipsis();
                }

                .delete {
                    position: absolute;
                    right: -7px;
                    top: -7px;
                    z-index: 1;
                    width: 15px;
                    height: 15px;
                    background: url("../images/close.png") #fff 0 0 no-repeat;
                    background-size: 15px;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}