.myTab {
    .closeAll {
        top: 8px;
    }

    .tabNavWrap {
        ul {
            overflow: hidden;
        }
    }

    .tbContents {
        overflow: hidden;

        .itemContent {
            overflow: auto;
        }
    }
}

.main_page {
    overflow: hidden;

    &.full_Page {
        .topContent {
            margin-top: 0;
            height: 0;
            filter:alpha(opacity=0);

            .logo {
                height: 0;
            }
        }

        .main_contain {
            top: 9px;
        }
    }

    .main_contain {
        position: absolute;
        left: 0;
        top: 55px;
        bottom: 0;
        right: 0;

        &.hackLeft {
            .main_right {
                margin-left: 175px;
            }
        }

        &.hideLeft {
            .main_right {
                margin-left: 0;
                width: 100%;
            }
        }

        .main_left {
            position: absolute;
            left: 0;
            top: 0;
            right: 175px;
            bottom: 0;
            overflow: auto;
            height: auto;

            .nav__box {
                overflow: hidden;
                height: 100%;
                padding-bottom: 30px;

                .nav__ul {
                    overflow: auto;
                    height: 100%;
                }
            }
        }

        .main_right {
            overflow: hidden;
            // margin-left: 175px;
            height: 100%;

            #insTab {
                height: 100%;
            }
        }
    }

    .main_bottom {
        .custom {
            float: left;
        }

        .links {
            margin-left: 50px;
            float: left;
        }

        .changePart {
            float: right;
        }
    }
}