.myTab {
    .closeAll {
        top: 8px;
    }

    .tabNavWrap {
        ul {
            overflow: hidden;
        }
    }

    .tbContents {
        overflow: hidden;

        .itemContent {
            overflow: auto;
        }
    }
}

.main_page {
    overflow: hidden;

    &.normal_Page {
        .topContent {
            margin-top: 0;
            height: 0;
            filter:alpha(opacity=0);

            .logo {
                height: 0;
            }
        }

        .main_contain {
            top: 9px;
        }
    }

    .main_contain {
        position: absolute;
        left: 0;
        top: 55px;
        bottom: 0;
        right: 0;

        &.hideLeft {
            .main_right {
                margin-left: 0;
                width: 100%;

                #insTab {
                    right: 0;
                }
            }
        }

        .main_left {
            padding-bottom: 30px;

            .nav__box {
                // overflow: hidden;
                height: 100%;

                .nav__ul {
                    overflow: auto;
                    height: 100%;
                }
            }
        }

        .main_right {
            position: relative;
            overflow: hidden;
            height: 100%;

            #insTab {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 2px;
                right: 180px;
            }
        }
    }
}